[submodule "ldscript/decomp"]
	path = ldscript/decomp
	url = https://github.com/laqieer/FE-Clib-Decomp.git
[submodule "include/decomp"]
	path = include/decomp
	url = https://github.com/FireEmblemUniverse/fireemblem6j.git
[submodule "asset/json"]
	path = asset/json
	url = https://github.com/HertzDevil/feh-assets-json.git
	branch = book7-2023
[submodule "source/gba-hq-mixer"]
	path = source/gba-hq-mixer
	url = https://github.com/laqieer/gba-hq-mixer.git
[submodule "music/s"]
	path = music/public
	url = https://github.com/laqieer/FE-Repo-Music-No-Preview
[submodule "tool/midi2agb"]
	path = tool/midi2agb
	url = https://github.com/ipatix/midi2agb.git
[submodule "music/trans/audio_similarity"]
	path = music/trans/audio_similarity
	url = https://github.com/markstent/audio-similarity.git
